html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.container {
    position: absolute;
    padding: 0 !important;
    border: 0 solid black;
}

#source {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-width: 0 0 1px 0;
}

#resultContainer {
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border-width: 1px 0 0 0;
    overflow-y: auto;
}

#languageSelect {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
}

#languageSelectElement {
    position: absolute;
    display: block;
    margin-left: -70px;
    margin-top: -28px;
    padding-top: 4px;
    width: 140px;
    height: 48px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#selecter {
    position: absolute;
    top: 28px;
    right: 28px;
    padding: 7px 11px;
    background: #333;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
}

@media screen and (min-width: 819px) {
    .container {
        top: 0;
        right: auto;
        bottom: 0;
        left: auto;
        width: auto;
        min-width: unset;
    }

    #source {
        border-width: 0 1px 0 0;
    }

    #resultContainer {
        left: auto;
        right: 0;
        border-width: 0 0 0 1px;
    }

    #languageSelectElement {
        margin-left: -50px;
        width: 100px;
    }
}
