html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

textarea {
    position: absolute;
    min-width: 98%;
    border: 0 solid black;
}

    textarea#source {
        top: 0;
        right: 0;
        left: 0;
        border-width: 0 0 1px 0;
    }

    textarea#result {
        left: 0;
        bottom: 0;
        right: 0;
        border-width: 1px 0 0 0;
    }

@media screen and (min-width: 819px) {
    textarea {
        top: 0;
        right: auto;
        bottom: 0;
        left: auto;
        width: auto;
        min-width: unset;
    }

    textarea#source {
        border-width: 0 1px 0 0; 
    }

    textarea#result {
        left: auto;
        right: 0;
        border-width: 0 0 0 1px;
    }
}
